<div class="data-table">
  <!-- Barra de pesquisa, filtro e botão de NOVO -->
  <div class="div-bar-options" style="">
    <div class="div-containment">
    <div class="div-search">
      <mat-form-field floatLabel="never" class="search-form-field">
        <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter($event.target.value)" placeholder="Buscar" class="input-search">
        <button mat-icon-button matSuffix aria-label="clear" (click)="onSearchClear()" *ngIf="searchKey">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="div-new">
      <button mat-flat-button color="primary" id="button-new">NOVA UNIDADE</button>
    </div>
  </div>
  </div>
<div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Atualizada Column -->
      <ng-container matColumnDef="atualizadaEm">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Atualizada em </th>
        <td mat-cell *matCellDef="let element"> 21/05/2019 </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" selected class="chip-status">ativa</mat-chip>
          </mat-chip-list>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="warn" selected class="chip-status">inativa</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <!-- Ação Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef class="title-column"> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Example icon-button with a edit icon" class="icon-action"
            id="icon-action-edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with a delete icon" class="icon-action"
            id="icon-action-delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons></mat-paginator>

  </div>
</div>
