<div class="container">

  <div class="details-container" style="background: white; border-radius: 2px; padding: 30px; height: 435px;">

    <div class="title-container">
      <!-- <div class="simbol-icon">
        PC
      </div> -->
      <div class="simbol-title" style="font-weight: bold; font-size: 20px;">{{nome | titlecase}}</div>
    </div>
    <mat-divider style="margin-top: 8px; margin-bottom: 30px;"></mat-divider>

    <mat-grid-list cols="1" rowHeight="30px">
      <mat-grid-tile>
        <div style="position: absolute; left: 10px;">
          <label style="font-weight: bold">Nome: </label><label>Professora Conceição</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="position: absolute; left: 10px;">
          <label style="font-weight: bold">Endereço: </label><label>Rua Euclides Gomes da Silva, 127 - Alvorada</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="position: absolute; left: 10px;">
          <label style="font-weight: bold">Telefone: </label><label>(95) 3623-5294</label>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div style="position: absolute; left: 10px;">
          <label style="font-weight: bold">E-mail: </label><label>profconceicao@edu.gov.br</label>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-divider style="margin-top: 40px; margin-bottom: 8px;"></mat-divider>

    <div>
      <button mat-flat-button color="primary" class="buttonView" (click)="editar()" [routerLink]="['/edit-unidade']"
        style="width: 100px;">Editar</button>
      <button mat-flat-button color="primary" class="buttonView" (click)="cancelar()" [routerLink]="['/edit-unidade']"
        style="background: white; border: 1px solid #3f51b5; color: #3f51b5; margin-left: 10px;
      width: 100px;">Cancelar</button>

      <button mat-flat-button color="primary" class="buttonView" (click)="inativar()"
        style="background: white; border: 1px solid red; color: red; margin-left: 10px;
      width: 100px; display: block; float: right;">Inativar</button>
    </div>
  </div>
</div>

