

.userOptions {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  background: #11111111;
  /* background: #243386; */
  border-radius: 30px;
}

.userName{
  font-size: 12px;
}

/* .userMenu{

} */
