<p style="padding-left: 10px; font-weight: bold">
  <span>Cadastrar Unidade</span>
</p>

<mat-divider></mat-divider>

<section>
  <div class="container">

    <div style="display: block; float: right; margin-top: 30px; margin-right: 60px;">
      <label>Cadastro Completo? </label>
      <mat-checkbox class="example-margin" [(ngModel)]="checked" ngInit="checked=true"></mat-checkbox>
    </div>

    <form method="post" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="container-field">
        <div style="padding-bottom: 5px">
          <span style="font-weight: bold">Unidade</span>
        </div>
        <div class="div-input">
          <mat-form-field floatLabel="never" class="input-form-field">
            <input matInput placeholder="Ex.: Escolinha Feliz" class="input-field" formControlName="nome">
          </mat-form-field>
        </div>
        <!-- OPÇÃO DE CADASTRO AVANÇADO / OS DADOS PODEM SER ADICIONADOS NO EDIT POSTERIORMENTE-->
        <div class="container-field-complet" style="margin-top: 10px" *ngIf="checked">
          <div style="padding-bottom: 5px">
            <span style="font-weight: bold">Endereço</span>
          </div>
          <div class="div-input" style="display: inline-block; margin-right: 10px">
            <mat-form-field floatLabel="never" style="width: 90px; background: silver; padding: 5px;">
              <input matInput placeholder="60.217-234" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="div-input" style="display: inline-block; margin-right: 10px">
            <mat-form-field floatLabel="never" style="width: 370px; background: silver; padding: 5px;">
              <input matInput placeholder="Rua Euclides Gomes da Silva" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="div-input" style="display: inline-block; margin-right: 10px">
            <mat-form-field floatLabel="never" style="width: 280px; background: silver; padding: 5px;">
              <input matInput placeholder="Boa Vista" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="div-input" style="display: inline-block;">
            <mat-form-field floatLabel="never" style="width: 210px; background: silver; padding: 5px;">
              <input matInput placeholder="Mato grosso do Sul" formControlName="nome">
            </mat-form-field>
          </div>
          <div style="padding-bottom: 5px; margin-top: 10px">
            <span style="font-weight: bold">Email</span>
          </div>
          <div class="div-input" style="display: inline-block;">
            <mat-form-field floatLabel="never" style="width: 300px; background: silver; padding: 5px;">
              <input matInput placeholder="profconceicao@edu.gov.br" formControlName="nome">
            </mat-form-field>
          </div>
          <div style="padding-bottom: 5px; margin-top: 10px">
            <span style="font-weight: bold">Telefone</span>
          </div>
          <div class="div-input" style="display: inline-block; margin-right: 10px">
            <mat-form-field floatLabel="never" style="width: 40px; background: silver; padding: 5px;">
              <input matInput placeholder="95" formControlName="nome">
            </mat-form-field>
          </div>
          <div class="div-input" style="display: inline-block;">
            <mat-form-field floatLabel="never" style="width: 100px; background: silver; padding: 5px;">
              <input matInput placeholder="3623-5294" formControlName="nome">
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid"
            [ngStyle]="validaStyleButtonSalvar()" class="button-form" id="button-salvar">Salvar</button>
          <button mat-flat-button color="primary" (click)="gotoList()" class="button-form"
            id="button-cancelar">Cancelar</button>
        </div>
      </div>

    </form>

  </div>

</section>
