.cabecalho{
  padding: 5px !important;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
}

.container{
  background: whitesmoke;
  /*height: 470px;*/
}

.container-field{
  padding: 16px 16px 0px 16px;
}

/* Seção Nome*/
.section-name{
  background: white;
  border-radius: 4px;
  padding: 10px;
}

#input-name{
  width: 100%;
}

.title-field{
  margin-top: 10px;
  font-size: 14px;
}

.input-field-name{
  padding: 5px;
}

.input-form-field{
  margin-top: 5px;
  padding: 5px 15px;
  font-size: 14px;
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: inset 0 0 1.7px 0 rgb(180, 180, 180);
  box-sizing: border-box; /*Resolve o problema do input passar a div*/
}

/* Seção Endereço */

.section-andress{
  margin-top: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

#input-cep {
  width: 100%;
}

#input-logradouro{
  width: 100%;
}

#input-numero {
  width: 100%;
}

#input-complemento {
  width: 100%;
}

#input-bairro {
  width: 100%;
}

#input-cidade {
  width: 100%;
}

#input-estado {
  width: 100%;
}

::ng-deep .mat-grid-tile .mat-figure {
  display: block !important; /* or whichever you need */
}

/*Seção Contato*/
.section-contact{
  margin-top: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
}

#input-email{
  width: 100%;
}

#input-tel{
  width: 100%;
}

/*Configurações especiais dos FIELDS do Angular Material*/

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0px !important;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ::ng-deep .mat-form-field-suffix button {

  }

  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    display: none !important;
  }

/*Seção Botões*/

.section-actions{
  margin-top: 10px;
  padding: 0px 16px 10px 16px;
  border-radius: 4px;
  background: white;
}

.button-form {
  padding: 0px;
  margin-right: 10px;
  margin-top: 10px;
  width: 100px;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  height: 90%;

}

#button-salvar {
  border: 1px solid rgb(238, 236, 236);
  background: whitesmoke;
}

#button-cancelar {
  /*float: right;*/
  color: #3f51b5;
  background: white;
  border: 1px solid #3f51b5;
}


