<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="toolbar">
      <div class="container-img">
        <img src="assets\img\logo-site.png" alt="bemtevi">
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="">
        <mat-icon aria-label="escola" style="padding-right: 5px">home</mat-icon>
        Home
      </a>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="/unidades">
        <mat-icon aria-label="escola" style="padding-right: 5px">business</mat-icon>
        Unidades
      </a>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="/turmas">
        <mat-icon aria-label="escola" style="padding-right: 5px">class</mat-icon>
        Turmas
      </a>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="/profissionais">
        <mat-icon aria-label="escola" style="padding-right: 5px">school</mat-icon>
        Profissionais
      </a>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="/alunos">
        <mat-icon aria-label="escola" style="padding-right: 5px">child_care</mat-icon>
        Alunos
      </a>
      <a mat-list-item href="#" routerLinkActive="active" routerLink="/responsaveis">
        <mat-icon aria-label="escola" style="padding-right: 5px">people</mat-icon>
        Responsáveis
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Escolinha Feliz</span>

      <span class="spacer"></span>

      <!-- ======= COMPONENT USER OPTIONS ======== -->
      <app-user-menu></app-user-menu>

    </mat-toolbar>
    <!-- Add Content Here-->

    <router-outlet>
      <!-- <div>
        <ng-content #corpo></ng-content>
      </div>
      <div>
        <ng-content #rodape></ng-content>
      </div> -->
    </router-outlet>
    <app-rodape></app-rodape>
  </mat-sidenav-content>
</mat-sidenav-container>
