<div class="data-table">
  <!-- Barra de pesquisa, filtro e botão de NOVO -->
  <div class="div-bar-options">
    <div class="div-search">
      <mat-form-field floatLabel="never" class="search-form-field">
        <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter($event.target.value)" placeholder="Buscar"
          class="input-search">
        <button disabled mat-icon-button matSuffix aria-label="search" *ngIf="!searchKey"
          style="width: 32px; height: 32px">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button matSuffix aria-label="clear" (click)="onSearchClear()" *ngIf="searchKey">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="div-new">
      <button mat-flat-button color="primary" id="button-new" [routerLink]="['/add-alunos']"
      routerLinkActive="router-link-active">NOVO ALUNO</button>
    </div>
  </div>
  <div class="container-table-arrounded">
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Aluno Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Aluno(a) </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Data de Nascimento Column -->
        <ng-container matColumnDef="dataNascimento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Data de Nascimento </th>
          <td mat-cell *matCellDef="let element"> {{element.dataNascimento}} </td>
        </ng-container>

        <!-- Data de Nascimento Column -->
        <ng-container matColumnDef="responsavel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Responsável </th>
          <td mat-cell *matCellDef="let element"> {{element.responsavel.nome + ' - ' + element.responsavel.parentesco}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="title-column"> Status </th>
          <td mat-cell *matCellDef="let element">
            <span [ngSwitch]="element.ativo">
              <mat-chip *ngSwitchCase="true"
                style="width:20px; color:white; background: #3f51b5; border-radius: 2px; padding: 5px">
                Ativo
              </mat-chip>
              <mat-chip *ngSwitchCase="false"
                style="color:white; background: #ff4081; border-radius: 2px; padding: 5px">
                Inativo
              </mat-chip>
            </span>
          </td>
        </ng-container>

        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef class="title-column"> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-stroked-button color="primary" class="buttonView" routerLink="/view-alunos/{{element.id}}">Visualizar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
