<div class="container" style="height: 514px; background: white">

  <mat-grid-list cols="2" rowHeight="256.5px">
    <mat-grid-tile colspan="2">
      <mat-list>
        <mat-list-item>Seja bem-vindo(a)!</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile style="background: whitesmoke;">
      <mat-list>
        <mat-list-item>Orientações à Instituição</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile style="background: whitesmoke;">
      <mat-list>
        <mat-list-item>Orientações aos Responsáveis</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>

</div>
