<div class="container" style="height: 514px; background: white">

  <mat-grid-list cols="2" rowHeight="256.5px">
    <mat-grid-tile colspan="2" style="background: lightcoral">
      <mat-card>
        Card 1
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background: lightgreen">
      <mat-card>
        Card 2
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile style="background: lightblue">
      <mat-card>
        Card 3
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
